.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

#container {
    position: relative;
}

#map, #info {
    display: inline-block;
}

#map {
    height: 500px;
    width: 100%;
    z-index: 1;
}

#info {
    position: absolute;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 24%;
    max-height: 450px;
    left: 75%;
    margin-top: 6px;
    z-index: 2;
    overflow: scroll;
}

#info h4 {
    text-align: center;
    margin: 0 0 5px;
    color: #777;
}
