#search {
    width: 300px;
    border: 2px solid #cccccc;
    border-radius: 4px; 
    padding: 5px 15px 5px 10px;
}

#search-div {
    display: none;
    position: absolute;
    left: 48px;
    top: 55px;
    z-index: 3;
}

#search-result {
    position: absolute;
    left: 48px;
    top: 90px;
    background-color: rgba(250,250,250,0.85);
    min-width: 300px;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-item {
    color: black;
    padding: 5px 7px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.search-item:hover {
    background-color: rgba(233,233,233,0.85);
}

#search-result::-webkit-scrollbar {
    width: 8px;
}
#search-result::-webkit-scrollbar-track {
    background: #aaa;
    border-radius: 4px;
    margin: 5px 0;
}
#search-result::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.5);
    border-radius: 4px;
}
#search-result::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,.7);
}