<!DOCTYPE html>
<html lang="en">
<head>
  <title>COVID News Search</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="#" />
  <meta charset="utf-8">

</head>
<body class="application">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">COVID News Search</a>
      </div>
    </div>
  </div>

  <div id="container">
    <div id="querybar">
      <form class="form-inline" id="querybox">
        <input class="form-control form-control-sm ml-3 w-75" type="text" id="querytext" placeholder="Search" aria-label="Search">
        <button type="submit" onclick="submitQuery(); return false" id="submit"><i class="fa fa-search"></i></button>
      </form>
        <button type="button" id = "tag1" class="float-left btn btn-primary tag" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="updateTag(event); return false">reopen</button>
        <button type="button" id = "tag2" class="float-left btn btn-primary tag" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="updateTag(event); return false">shutdown</button>
        <button type="button" id = "tag3" class="float-left btn btn-primary tag" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="updateTag(event); return false">governor</button>
        <button type="button" id = "tag4" class="float-left btn btn-primary tag" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="updateTag(event); return false">restrictions</button>
    </div>
  </div>

  <div id="container">
    <div id="map"></div>
    <div id="info"><h4>Choose a state!</h4></div>
  </div>

  <div id="container">
    <div id="how_to_use">
      <h4>How To Use</h4>
      <ul>
        <li>Click a state to view recent COVID-19 news for the state.</li>
        <li>Click a county to view recent COVID-19 news for the county; zoom out to return to state view.</li>
        <li>Select a headline on the right side to read more.</li>
        <li>Use the search bar to add a custom filter, then select one of the filters to apply it.</li>
      </ul>
    </div>
  </div>

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>
  <!-- <script src="./static/lib/js/keen.min.js"></script> -->
  <script src="./static/lib/js/us-states.js"></script>
  <script src="./static/lib/js/us-county.js"></script>
  <script src='./static/js/map.js'></script>
  <script src='./static/js/querybar.js'></script>
</body>
</html>
